.kayitButton{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top:3px;
    margin-bottom: -13px;
}
.kayitButton Button:hover{
    background-color: #2CC4CB;
    color: white;
}

/* add patient form  */
.formBox{
margin: 50px;
align-items: center;

}
.row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.formdata{ 
    width: 30%;
    
}

