* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyHome {
  margin-left: 40px;
  margin-right: 30px;
  
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box-1{
    margin-top: 20px;
}

.Box-2 {
    margin-top: 10px;
}
